---

const { blogs } = Astro.props;
---
{
    blogs ? blogs.map((blog: { author: unknown; title: unknown; })=>
    <div class="clickable cursor-pointer flex flex-col border-[rgb(255,255,255,0.2)] border rounded w-[45%]  px-4 py-2 gap-4" blog-id={blog.id}>
        <p class="ml-auto bg-emerald-500 text-black">Blog ID: {
            blog.id
            }</p>
        <p>{
            blog.author
            }</p>
        <p>
            {
                blog.title
            }
        </p>
        <div class="flex flex-row gap-4">
            <button class="flex flex-row gap-2 border border-[rgb(255,255,255,0.2)] rounded px-2 py-1">
                <span>{
                    blog.likes
                }</span>
                Likes</button>
            <button class="flex flex-row gap-2 border border-[rgb(255,255,255,0.2)] rounded px-2 py-1">
                <span>{
                    blog.likes
                }</span>
                Views</button>
            <button class="flex flex-row gap-2 border border-[rgb(255,255,255,0.2)] rounded px-2 py-1">
                <span>{
                    blog.shares
                }</span>
                Shares</button>
        </div>
    </div>)   : <div>No Blogs found</div>
}
<script>
    document.querySelectorAll(".clickable").forEach(item =>{
        item.addEventListener("click", ()=>{
            const id = item.getAttribute("blog-id");
            window.location.href=`/blog/${id}`;
        });
    });
</script>