---

---
<div class="flex flex-row m-auto my-6 justify-around" >
    <a class="py-2 px-6 border rounded hover:bg-[#8d7fc9]" href="/">Home</a>
    <a class="py-2 px-6 border rounded hover:bg-[#8d7fc9]" href="/blogs">Blog</a>
</div>