---
import '../styles/global.css';
import NavigationMenu from '@/components/react/NavigationMenu';
const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={ 
		description ? description  : "Tikur Azmud Telemedicine"
		}/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{ title ? title : "Tikur Azmud"}</title>
	</head>
	<body>
	    <NavigationMenu client:load/>
		<slot />
	</body>
</html>
